header{

    width: 100%;
    display: flex;
    border-bottom: 1px solid #ffbd5952;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}
header .logo span{
     font-size: 1em;
     font-weight: bold;
     color: white;
     display: flex;
}

header .logo .Amarelo{
    color: #FFBD59;
}

header img{
    cursor: pointer;
}

header img:hover{
    transform: scale(1.2);
transition: 0.4s;
}
.notificacao{
    display: flex;
    align-items: center;
}
.icon{
    width: 30px;
    margin-right: 20px;
}