.Historico{
    width: 100%;
    height:100%;
   display: flex;
   flex-direction: column;
    position: relative;
 right: 50px;
}

.Historico .titulo{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.Historico .titulo button{
    background-color: white;
    width: 80px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
   border-radius: 15px;
   border: none;
   font-weight: bold;
   color: #FFBD59;
}

.Historico .titulo button:hover{
    background-color: #FFBD59;
    color: white;
    transition: 0.4s
}



.Historico h1{
    color: #FFBD59;

}

.card-historico{
    box-sizing: border-box;
    width: 80%;
   max-width: 800px;
   min-width: 550px;
    height: 120px;
    display: flex;
    flex-direction: column;
   background-color: white;
border-radius: 20px;
margin-bottom: 15px;
}

.card-historico section{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-historico  img{
    cursor: pointer;
}
.card-historico  img:hover{
    transform: scale(1.2);
    transition: 0.4s;
}

.OverlayHistorico{
    display: none;
}
@media screen and (max-width: 1137px){
    .Historico{
     
       display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
     right: 0px;
    }

    .Historico .titulo{
        width: 70%;
        justify-content: space-between;
        margin-top: 20px;
    }
   }

   @media screen and (max-width: 807px){


    .Historico{
     display: none;
    }
   }