.Historico{
    width: 85%;
    border: 1px solid black;
    margin-top: 20px;
   
    
}

.Historico .historico-title{
    display: flex;
    align-items:center ;
border-bottom: 1px solid black;
  height: 50px;
 

}

.Historico .historico-title h3{
    margin: 0px 100px ;
 

}
.card-historico{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;

}

.card-historico ul {
    list-style: none;
}

.descricao{
    width: 25%;
}
.ValorEntrada{
    width: 25%;
}
.ValorSaida{
    width: 25%;
}

.tipo{
    width: 25%;
}